.alert {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.alert > p {
  border-radius: 0.25em;
  border-style: solid;
  border-width: thin;
  padding: 1em;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-none {
  background-color: white;
  border-color: lightgray;
  color: darkgray;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
