.alert {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  /*overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;*/
}

.alert > p {
  border-radius: 0.25em;
  border-style: solid;
  border-width: thin;
  padding: 1em;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-none {
  color: darkgray;
  background-color: white;
  border-color: lightgray;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
