.news-info {
  border-left: 2pt solid gray;
  padding-left: 1em;
}

.news-author {
  font-weight: 600;
}

.news-date {
  font-weight: 600;
}

.news-link-author {
  padding-left: 2pt;
  font-style: italic;
}

.news-link-date {
  padding-left: 2pt;
  font-weight: lighter;
}
